/* Inspector.css */
.Inspector {
	padding: 1%;
	padding-top: 5%;
	font-size: 100%;
}

.InspectorChild {
	background-color: rgb(15, 15, 15);
	width: 100%;
	height: fit-content;
	margin-bottom: 1em;
}

.InspectorChildProp {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 1em;
}

.InspectorChildPropTitle {
	width: 100%;
	margin-bottom: 0.5em;
}

.InspectorChildPropContent {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.InspectorChildPropContentLabel {
	margin-right: 5%;
}

.InspectorChildPropContentInput {
	color: white;
	width: 20%;
	background-color: rgb(31, 31, 31);
}
