.Inspector {
	padding: 1%;
	padding-top: 5%;
	font-size: 100%;
}

.InspectorChild {
	background-color: rgb(15, 15, 15);
	width: 100%;
	height: fit-content;
}

.InspectorChildProp {
	display: flex;
	justify-content: space-between;
}

.InspectorChildPropTitle {
}

.InspectorChildPropContent {
	display: flex;
	justify-content: space-around;
}

.InspectorChildPropContentLabel {
	margin-right: -7%;
}

.InspectorChildPropContentInput {
	color: white;
	width: 20%;
	background-color: rgb(31, 31, 31);
}
